<% layout('layouts/boilerplate')%>
    <h1>Edit Campground</h1>
    <!-- you need to get method override, npm i method-override -->
    <!-- in the app, require method overrride -->
    <!-- and app.use method orride -->


    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <!-- .col-6.offset-3  -->
        <!-- novalidate -->
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" required
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" value="<%=campground.title%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>  
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" value="<%=campground.location%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                    <input class="form-control" type="file" name="image" id="" multiple>
                  </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group ">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" value="<%=campground.price%>" required> 
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]" required><%= campground.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> 
                <div class="mb-3">
                    <% campground.images.forEach(function(img, i) {  %>
                        <!-- img.thumbnail is a virtual property, see campground model -->
                        <img src="<%=img.thumbnail%>" class="img-thumbnail">
                        <div class="form-check-inline">
                            <!-- value is added to name array when parsed -->
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                        
                        <% }) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button> 
                </div> 
                
            </form>
            <a href="/campgrounds/<%=campground._id%>">Back to Campground  </a>

         
        </div>
    </div>